{% extends 'base.html' %}
{% load static %}
{% block content %}

  <main class="main-content site-wrapper-reveal">
    <!--== Start Page Title Area ==-->
    <section class="page-title-area" data-bg-img="assets/img/photos/bg-page-title.webp">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-title-content text-center">
              <h2 class="title text-white">{{product.name}}</h2>
              <div class="bread-crumbs"><a href="index.html">Home<span class="breadcrumb-sep">/</span></a><span class="active">{{product.name}}</span></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Page Title Area ==-->

    <!--== Start Shop Area ==-->
    <section class="shop-area shop-single-product">
      <div class="container pb-md-50 pb-95 pt-50">
        <div class="row">
          <div class="col-lg-6">
            <div class="single-product-slider">
              <div class="single-product-thumb">
                <div class="swiper-container single-product-thumb-slider">
                  <div class="swiper-wrapper">
                    {% for image in product.images.all %}
                    <div class="swiper-slide zoom zoom-hover">
                      <div class="thumb-item">
                        <a class="lightbox-image" data-fancybox="gallery" href="{{image.image.url}}">
                          <img src="{{product.image.url}}" alt="Image-HasTech">
                        </a>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="single-product-nav">
                <div class="swiper-container single-product-nav-slider">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="nav-item">
                        <img src="{{product.image.url}}" alt="Image-HasTech">
                      </div>
                    </div>
                    
                    {% for image in product.images.all %}
                    <div class="swiper-slide">
                      <div class="nav-item">
                        <img src="{{image.image.url}}" alt="Image-HasTech">
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-product-info mt-md-30 mt-20">
              <h4 class="title">{{product.name}}</h4>
              <div class="product-ratting">
                <div class="ratting-icons">
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <div class="ratting-caption">No Reviews</div>
              </div>
              <div class="prices">
                <span class="price">{{product.price}}</span>
              </div>
              <div class="product-number">
                SKU: <span>{{product.quantity}}</span>
              </div>
              <p class="product-desc">{{product.desc}}</p>
              <div class="quick-product-action">
                <div class="action-top">
                  <form action="{% url 'add_to_cart' product.id %}" method="post">
                    {% csrf_token %}
                    <div class="pro-qty">
                    <div class="product-number mb-3" style="display: inline-block; margin-right: 10px;">
                      <label for="quantity" style="display: none;">Quantity:</label>
                      <input type="number" id="quantity" name="quantity" value="1" min="1" style="width: 80px; height: 40px; padding: 0 10px;">
                    </div>
                    </div>
                    <button type="submit" class="btn btn-black">
                      <i class="fa fa-opencart"></i> Add to Cart
                    </button>
                    <a class="btn-wishlist" href="#"><i class="ti-heart"></i></a>
                  </form>
                </div>
                
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Shop Area ==-->

    <!--== Start Shop Area ==-->
    <section class="product-description-review-area">
      <div class="container pb-md-20">
        <div class="row">
          <div class="col-lg-12">
            <div class="product-description-review">
              <ul class="nav nav-tabs product-description-tab-menu" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="product-desc-tab" data-toggle="tab" href="#descProduct" role="tab" aria-controls="descProduct" aria-selected="true">Description</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="product-info-tab" data-toggle="tab" href="#reviewProduct" role="tab" aria-controls="reviewProduct" aria-selected="false">Reviews</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="product-review-tab" data-toggle="tab" href="#commentProduct" role="tab" aria-controls="commentProduct" aria-selected="false">Comments</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="product-custom-tab" data-toggle="tab" href="#policyProduct" role="tab" aria-controls="policyProduct" aria-selected="false">Shipping Policy</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="product-custom-tab" data-toggle="tab" href="#sizeProduct" role="tab" aria-controls="sizeProduct" aria-selected="false">Size chart</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="descProduct" role="tabpanel" aria-labelledby="product-desc-tab">
                  <div class="product-desc">
                    <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure</p>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
                  </div>
                </div>
                <div class="tab-pane fade" id="infoProduct" role="tabpanel" aria-labelledby="product-info-tab">
                  <div class="product-additional-info">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th scope="row">Size</th>
                          <td>L, M, S, XL, XXL</td>
                        </tr>
                        <tr>
                          <th scope="row">Color</th>
                          <td>Blue, Gray, Green, Pink</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="tab-pane fade" id="reviewProduct" role="tabpanel" aria-labelledby="product-review-tab">
                  <div class="product-review">
                    <h3 class="title">REVIEWS</h3>
                    <div class="review-comment">
                      <p>There are no reviews yet.</p>
                      <h5>BE THE FIRST TO REVIEW “TWO TONE DRESS”</h5>
                    </div>
                    <div class="product-review-form">
                      <p>Your email address will not be published. Required fields are marked <span>*</span></p>
                      <div class="rating">
                        <span class="rating-title">Your rating <span>*</span></span>
                        <span>
                          <a class="star-1" href="#/"></a>
                          <a class="star-2" href="#/"></a>
                          <a class="star-3" href="#/"></a>
                          <a class="star-4" href="#/"></a>
                          <a class="star-5" href="#/"></a>
                        </span>
                      </div>
                      <form action="#" method="post">
                        <div class="review-form-content">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="reviewFormTextarea">Your review <span>*</span></label>
                                <textarea class="form-control" id="reviewFormTextarea" name="comment" rows="7" placeholder="Your review *" required></textarea>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="reviewFormName">Name <span>*</span></label>
                                <input class="form-control" id="reviewFormName" type="text" placeholder="Name *" required />
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="reviewFormEmail">Email <span>*</span></label>
                                <input class="form-control" id="reviewFormEmail" type="email" placeholder="Email *" required />
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group mb-20">
                                <div class="form-check">
                                  <input class="form-check-input position-static ml-0" type="checkbox" value="" id="reviewFormCheck">
                                  <label class="form-check-label" for="reviewFormCheck">
                                    Save my name, email, and website in this browser for the next time I comment.
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <button class="btn btn-theme btn-border" type="submit">Submit</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="customProduct" role="tabpanel" aria-labelledby="product-custom-tab">
                  <div class="product-desc">
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Shop Area ==-->

    <!--== Start Featured Product Area Wrapper ==-->
    <section class="product-area featured-product-area">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-6 m-auto">
            <div class="section-title text-center">
              <h2 class="title">Related Product</h2>
              <p>Add your Description here</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-4 col-lg-3">
            <!-- Start Product Item -->
            <div class="product-item">
              <div class="product-thumb">
                <a href="shop-single-product.html">
                  <img src="assets/img/shop/6.png" alt="Alan-Shop">                  
                  <span class="ribbon ribbon-hot">Sale</span>
                  <span class="ribbon ribbon-onsale align-right">-35%</span>
                </a>
                <div class="product-action">
                  <a class="action-wishlist" href="shop-wishlist.html" title="Wishlist">
                    <i class="ion-android-favorite-outline"></i>
                  </a>
                  <a class="action-quick-view" href="javascript:void(0);" title="Quick View">
                    <i class="ion-ios-search-strong"></i>
                  </a>
                  <a class="action-cart" href="#/">
                    <i class="fa fa-opencart"></i>
                  </a>
                </div>
                <div class="countdown-content">
                  <ul class="countdown-timer">
                    <li><span class="days">00</span><p class="days_text">Days</p></li>
                    <li><span class="hours">00</span><p class="hours_text">Hour</p></li>
                    <li><span class="minutes">00</span><p class="minutes_text">Mint</p></li>
                    <li><span class="seconds">00</span><p class="seconds_text">Sec</p></li>
                  </ul>
                </div>
              </div>
              <div class="product-info">
                <h4 class="title"><a href="shop-single-product.html">8. Countdown product</a></h4>
                <div class="prices">
                  <span class="price">$39.00</span>
                  <del class="price-old">$60.00</del>
                </div>
              </div>
            </div>
            <!-- End Product Item -->
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-3">
            <!-- Start Product Item -->
            <div class="product-item">
              <div class="product-thumb">
                <a href="shop-single-product.html">
                  <img src="assets/img/shop/7.png" alt="Alan-Shop">
                </a>
                <div class="product-action">
                  <a class="action-wishlist" href="shop-wishlist.html" title="Wishlist">
                    <i class="ion-android-favorite-outline"></i>
                  </a>
                  <a class="action-quick-view" href="javascript:void(0);" title="Quick View">
                    <i class="ion-ios-search-strong"></i>
                  </a>
                  <a class="action-cart" href="#/">
                    <i class="fa fa-opencart"></i>
                  </a>
                </div>
              </div>
              <div class="product-info">
                <h4 class="title"><a href="shop-single-product.html">9. Without shortcode product</a></h4>
                <div class="prices">
                  <span class="price">$79.00</span>
                </div>
              </div>
            </div>
            <!-- End Product Item -->
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-3">
            <!-- Start Product Item -->
            <div class="product-item">
              <div class="product-thumb">
                <a href="shop-single-product.html">
                  <img src="assets/img/shop/18.png" alt="Alan-Shop">
                  <div class="ribbons">
                    <span class="ribbon ribbon-hot">Sale</span>
                    <span class="ribbon ribbon-onsale align-right">-18%</span>
                  </div>
                </a>
                <div class="product-action">
                  <a class="action-wishlist" href="shop-wishlist.html" title="Wishlist">
                    <i class="ion-android-favorite-outline"></i>
                  </a>
                  <a class="action-quick-view" href="javascript:void(0);" title="Quick View">
                    <i class="ion-ios-search-strong"></i>
                  </a>
                  <a class="action-cart" href="#/">
                    <i class="fa fa-opencart"></i>
                  </a>
                </div>
              </div>
              <div class="product-info">
                <h4 class="title"><a href="shop-single-product.html">Product dummy title</a></h4>
                <div class="prices">
                  <span class="price">$110.00</span>
                  <del class="price-old">$130.00</del>
                </div>
              </div>
            </div>
            <!-- End Product Item -->
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-3">
            <!-- Start Product Item -->
            <div class="product-item">
              <div class="product-thumb">
                <a href="shop-single-product.html">
                  <img src="assets/img/shop/10.png" alt="Alan-Shop">
                </a>
                <div class="product-action">
                  <a class="action-wishlist" href="#/" title="Wishlist">
                    <i class="ion-android-favorite-outline"></i>
                  </a>
                  <a class="action-quick-view" href="javascript:void(0);" title="Quick View">
                    <i class="ion-ios-search-strong"></i>
                  </a>
                  <a class="action-cart" href="#/">
                    <i class="fa fa-opencart"></i>
                  </a>
                </div>
              </div>
              <div class="product-info">
                <h4 class="title"><a href="shop-single-product.html">4. Soldout product</a></h4>
                <div class="prices">
                  <span class="price">$19.00</span>
                  <del class="price-old">$29.00</del>
                </div>
              </div>
            </div>
            <!-- End Product Item -->
          </div>
        </div>
      </div>
    </section>
    <!--== End Featured Product Area Wrapper ==-->
  </main>

  {% endblock content %}